.main-header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    height: 50px;
}

.main-header-infos {
    margin-left: 10px;
}

.main-header-icon {
    height: 20px;
    margin-left: 20px;
}

.main-header-infos h6,
.main-header-infos p {
    margin: 0;
}
